@import "tailwindcss";

/* beige color  #F7EFE2  */
/* brown color #813831 */
.Merriweather{ 
  font-family: "Merriweather", serif;
}
.nav-item {
  position: relative;
  padding-bottom: 1px;
  display: inline-block;
  transition: color 0.3s ease;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #813831;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s ease;
}

.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-item[data-active="true"]::after {
  transform: scaleX(1);
  transform-origin: left;
  background: #813831;
}

.nav-item[data-active="true"] {
  color: #813831;
}


/* about sectino*/
